@import url('https://fonts.googleapis.com/css?family=Merriweather:400,700|Oswald|Roboto');

body{
  background-color: #eee;
  color: #444;
  line-height: normal;
  font-family: "Roboto";
  font-size: 16px;
  width: 80%;
  margin: 0 auto;
}

h1{
  font-family: "Oswald";
  text-align: center;
}

h2{
  font-family: "Merriweather";
  text-align: center;
  color: #e81c4f;
  padding: 0;
  font-size: 1.3em;
}

a{
  color: #e81c4f;
  font-size: 1.1em;
  font-family: "Oswald";
  text-decoration: none;
  letter-spacing: 1px;
}

#aboutmePhoto{
  margin: 0 auto;
  border-radius: 10px;
  max-width: 500px;
  display: block;
  -webkit-transform: rotate(90deg);
}
