ol{
font-size: 15px;
font-family: serif;
color:#96ACB7;
}

ul{
  font-size: 15px;
  font-family: cursive;;
  color: #96ACB7;


}

nav{
font-size: 15px;
text-align: left;
font-family: fantasy;
}

body {
font-size: 1em;
font-weight: normal;
font-family : Arial, sans-serif;
color: #5a464c; /* PEWTER BLUE*/
text-align: left;
background-color: #53131e;
border-radius: 10px;
}
h1 {
  font-size: 1.8em;
  font-weight: bold;
  color: #5a464c; /* PEWTER BLUE*/
  text-align: center;
  background-color: #ffefbd;
}
h2{
  font-size: 20px;
  font-family: monospace;;
  color: #5a464c; /* PEWTER BLUE*/
  background-color: #ffefbd;
}

h3{
  font-family: monospace;
  font-size: 15px;
  color: #5a464c; /* PEWTER BLUE*/
  background-color: #ffefbd;
}
