ol{
font-size: 15px;
font-family: serif;
color:#96ACB7;
}

ul{
  font-size: 15px;
  font-family: cursive;;
  color: #96ACB7;


}

nav{
font-size: 15px;
text-align: left;
font-family: fantasy;

}

body {
font-size: 1em;
font-weight: normal;
font-family : Arial, sans-serif;
color: #5a464c; /* QUARTZ*/
text-align: left;
background-color: #53131e;
border-radius: 10px;
margin: 0: auto;
}
h1 {
  font-size: 1.8em;
  font-weight: bold;
  color: #5a464c; /* QUARTZ*/
  text-align: center;
  background-color: #ffefbd;
}
h2{
  font-size: 20px;
  font-family: monospace;;
  color: #5a464c; /* QUARTZ*/
  background-color: #ffefbd;
}

h3{
  font-family: monospace;
  font-size: 15px;
  color: #5a464c; /* QUARTZ*/
  background-color: #ffefbd;
}

a {
  color: #ffefbd;
  font-size: 16px;
  font-weight: bold;
}

/*
color scheme{
#ffefbd: BLOND
#5a464c: QUARTZ
#53131e:DARK SCARLET
#96ACB7: PEWTER BLUE
}*/
