@import url('https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900');

.rectangle {
font-family: "Helvetica";
font-size: 1em;
background-color: white;
border: 1px solid black;
height: 300px;
width: 800px;
margin: 0 auto;
}
#kerning {
  letter-spacing: 6px;
}

#leading {
    line-height: 275%;
}


.align {
  max-width: 80%;
  margin: 1em auto;
}

#left_align {
  text-align: left;
}

#right_align {
  text-align: right;
}

#justify {
  text-align: justify;
}
#center {
  text-align: center;
}

/*** HIERARCHY ASSIGNMENT STYLES ***/

/* Do not change this style */
section {
  font-family: "Helvetica";
  font-size: 1em;
  background-color: white;
  border: solid 1px black;
  height: 560px;
  width: 560px;
  margin: 0 auto;

}

/* Do not change this style */
section p {
  font-size: 1.1em;
  margin: 2em 4em;
  max-width: 55%;
}

/* Change this style */
#biggerText {
font-size: 1.6em
}

/* Change this style */
.indent {

}

.weights {
  font-family: "Roboto";
  font-size: 32px;
}

#weight1 {
  font-weight: 100;
}

#weight2 {
  font-weight: 200;
}

#weight3 {
  font-weight: 300;
}

#weight4 {
  font-weight: 400;
}

#weight5 {
  font-weight: 500;
}

/*
  POSTER TYPOGRAPHY ASSIGNMENT CRITERIA:
  * Use two different typefaces (a serif and a sans-serif)
  * Use at least three different font-sizes
  * Use a color that contrasts with the background image
      * Recommended to use the text-shadow property to increase contrast
  * Use a hierarchy that emphasizes the most important words
      * Font size, font weight, logical grouping, orientation
  */

#grandCanyon {
  background-image: url("../images/grand_canyon.jpg");
  background-size: cover;
  background-position: center center;
  height: 500px;
  width: 800px;
  margin: 0 auto;
  font-size: 50px;
  font-style: italic;
  color: #FF6700
}
