.rectangle {
font-family: "Helvetica";
font-size: 1em;
background-color: white;
border: 1px solid black;
height: 300px;
width: 800px;
margin: 0 auto;
}
#kerning {
  letter-spacing: 6px;
}

#leading {
    line-height: 275%;
}


.align {
  max-width: 80%;
  margin: 1em auto;
}

#left_align {
  text-align: left;
}

#right_align {
  text-align: right;
}

#justify {
  text-align: justify;
}
#center {
  text-align: center;
}

/*** HIERARCHY ASSIGNMENT STYLES ***/

/* Do not change this style */
section {
  font-family: "Helvetica";
  font-size: 1em;
  background-color: white;
  border: solid 1px black;
  height: 560px;
  width: 560px;
  margin: 0 auto;
}

/* Do not change this style */
section p {
  font-size: 1.1em;
  margin: 2em 4em;
  max-width: 55%;
}

/* Change this style */
#biggerText {

}

/* Change this style */
.indent {

}
