
@import url('https://fonts.googleapis.com/css?family=Galada');


#Mother{
  font-size: 1em;
  background-color: #D84797;
  border: 1px solid black;
  height: 300px;
  width: 800px;
  margin: 0 auto;
  text-align: center;
  font-size: 2em;
  font-family: Galada;
  color: black
}
